<!DOCTYPE html>
<html>
  <head>
    <title>ProjectPosts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-gray bg-gray" style="background: dimgray">

    <%= link_to 'Все статьи', posts_path, class: 'btn btn-info'%>
    <%= link_to 'Новая статья', new_current_user_post_path, class: 'btn btn-info ml-3'%>
    <%= link_to 'Мои статьи', current_user_posts_path, class: 'btn btn-info ml-3'%>

    <ul class="navbar-nav ml-auto">

      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: 'btn btn-primary' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Войти', new_user_session_path, class: 'mr-2 btn btn-primary' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Зарегистрироваться', new_user_registration_path, class: 'btn btn-primary'%>
        </li>
      <% end %>

    </ul>
  </nav>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  </body>
</html>
